body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#page-center {
    display: block;
    margin: auto;
    width: 70vw;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: larger;
}

#page-center h1 {
    padding-top: 5vh;
    /* margin-top: 10vh; */
}

#page-center h3 {
    /* padding-top: 1vh; */
    padding-top: 5vh;
}

#page-center #selfie {
    display: block;
    /* margin-left: 2vw; */
    width: 10vw;
}

#page-center h1, #page-center h3 {
    text-align: center;
    color: rgb(51, 174, 245);
    text-transform: uppercase;
}

#page-center p {
    padding-left: 2vw;
    padding-right: 2vw;
}

#page-center #links {
    padding-left: 2vw;
}

#page-center ul {
    display: block;
    margin: auto;
    width: 10vw;
    text-align: center;
}

#page-center img {
    display: block;
    margin: auto;
    max-width: 30vw;
}